@tailwind base;
@tailwind components;
@tailwind utilities;

/* CSS mặc định cho App */
body {
  background-color: #0f172a;
  color: #e2e8f0;
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
}